#chat-log-wrapper
{
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap: break-word;
	height:94%;
	width:99%;
  color:white;
  background: #404040;
}
#chat-log
{
	display:table;
	width:100%;
	table-layout:fixed;
}
.spacer
{
	display:table-cell;
	width:.5em;
}
.msgRow
{
	display:table-row;
}
.msgText
{
	width: auto;
	display:table-cell;
	vertical-align:top;
}
.msgHeader
{
	display:table-cell;
	vertical-align:top;
	text-align:right;
	width: 20em;
}
.channel-button
{
  background : none;
  color:white;
	word-wrap: break-word;
  border: none;
}
#active-channel
{
	color:red;
}
.online-button
{
  background : none;
  color:white;
  border: none;
	word-wrap: break-word;
}
.left-column
{
  background:#191919;
  color: white;
  width:14.5%;
  text-align: center;
	display:flex;
	flex-flow:column;
  float:left;
  height: 100%;
}
#channel-list
{
  background-color:#404040;
  width:auto;
	flex: 1 1 auto;
  overflow:auto;
	overflow-x:hidden;
  padding:5px; 
}
.top-bar
{
  width:85%;
  background:#262626;
  color:white;
  float:right;
  height: 3%;
}

.logout-button
{
  background-color:red;
  width:100%;
	border:0px;
  height:5%;
}
.right
{
  width:15%;
  height:97%;
  background-color:#333333;
  color:white;
	display:flex;
	flex-flow:column;
  text-align: center;
  float:right;
}
.center
{
  width:70%;
  background-color:black;
  float:right;
}
#online-list
{
  background-color:#404040;
  width:auto;
  overflow:auto;
	flex: 1 1 auto;
  padding:5px; 
}
#online-channel-list
{
	background-color:#404040;
	width:auto;
	flex: 1 1 auto;
	overflow:auto;
}
#online-channel-header
{
	background:#333333;
	overflow-x:hidden;
}
h3
{
	height:auto;
}
.body
{
  overflow: hidden;
  background: black;
	font-size:14px;
	font-family:monospace;
}

a
{
	color:blue;
}

#chat-prompt
{	
  overflow: hidden;
	border:0px;
  width:100%;
	height:100%;
}

.textarea
{
  color: white;
  font-size: 20px;
  width: 100%; 
height:23px;
	display: flex; 
  flex-flow:row;
}

.textbox
{
	flex: 1 0 auto;
}
#textbutton
{
	border:0px;
	height: 100%;
}

#textbutton-wrapper
{
	flex: 0 1 auto;
}
